{% extends "base.html" %}
{% block title %}模块信息{% endblock %}
{% load static %}
{% block content %}



    <div class="admin-biaogelist" style="top: 0px">
        <div class="listbiaoti am-cf">
            <ul class="am-icon-flag on"> bug列表</ul>
            <dl class="am-icon-home" style="float: right;"> 当前位置： bug管理 > <a href="#">bug展示</a></dl>
            <dl>
                <button type="button" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus"
                        onclick="location='/add_bug/'">新增bug
                </button>

            </dl>
        </div>

        <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">
            <form id="pro_filter" method="post" action="/bug_list/">
                <ul>
                    <li style="padding-top: 5px">
                        <select name="project" id="project" class="am-input-zm am-input-xm"
                                onchange="auto_load_module('#module', '/add_bug/','module')">
                        {% for project_name in project_list %}
                            <option value="{{ project_name }}"
                                    selected>{{ project_name }}</option>
                        {% endfor %}
                        <option value="All">All</option>
                        </select>
                    </li>

                    <li style="padding-top: 5px">
                        <select name="module" id="module" class=" am-input-zm am-input-xm" id="module">
                            <option selected value="{{ info.belong_module }}">{{ info.belong_module }}</option>
                        </select>
                    </li>
                    <li style="padding-top: 5px"><input value="{{ info.user }}" type="text" name="user"
                                                        class="am-input-sm am-input-xm"
                                                        placeholder="测试人员"/></li>
                    <li>
                        <button style="padding-top: 5px; margin-top: 9px"
                                class="am-btn am-radius am-btn-xs am-btn-success">搜索
                        </button>
                    </li>
                </ul>
            </form>
        </div>


        <form class="am-form am-g" id='module_list' name="module_list" method="post" action="/api/run_batch_test/">
            <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
                <thead>
                <tr class="am-success">
                    <th class="table-check"><input type="checkbox" id="select_all"/></th>
                    <th class="table-title">序号</th>
                    <th class="table-type">项目</th>
                    <th class="table-type">模块</th>
                    <th class="table-type">版本</th>
                    <th class="table-type">bug描述</th>
                    <th class="table-type">平台</th>
                    <th class="table-type">状态</th>
                    <th class="table-type">几星</th>
                    <th class="table-type">开发人员</th>
                    <th class="table-type">图片</th>
                </tr>
                </thead>
                <tbody>

                {% for foo in bug_info %}
                    <tr>
                        <td><label>
                            <input type="checkbox" name="bug_{{ foo.id }}" value="{{ foo.id }}"/>
                        </label></td>
                        <td id="bug_num">{{ foo.id }}</td>
                        <td><a href="#"
                               onclick="edit('{{ foo.id }}','{{ foo.project__project_name }}', '{{ foo.belong_project.project_name }}'
                                       , '{{ foo.test_user }}', '{{ foo.simple_desc }}', '{{ foo.other_desc }}')">{{ foo.project__project_name }}</a>
                        </td>
                        <td>{{ foo.module__module_name }}</td>
                        <td>{{ foo.version__version }}</td>
                        <td style="width: 50%">{{ foo.bug_title }}</td>
                        <td><a onclick=""> {{ foo.plantform }}</a></td>
                        <td><div id="bug_id_{{ foo.id }}"><a onclick="editstate({{ foo.id }})">{{ foo.state }}</a></div></td>
                        <td>{{ foo.start }}</td>
                        <td><a onclick=""> {{ foo.developer__username }}</a></td>
                        <td style="width:{{ foo.png_size }}px">
                            {% if foo.png %}
                                {% for png in foo.png %}
                                    <div id="container" class="logoImg amplifyImg" style="display: inline">
                                        <img onclick="BigBig(this.src, this.width, this.height);" data-target="#myModal" data-toggle="modal" style="width: 50px;" src={{ png }}>
                                    </div>
                                {% endfor %}
                        {% endif %}</td>

                    </tr>
                {% endfor %}


                </tbody>
            </table>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-body" align="center">
                        <img src="" id="image">
                    </div>
                </div>
            </div>



            <div class="am-btn-group am-btn-group-xs">
                <button type="button" class="am-btn am-btn-default" onclick="location='/api/add_module/'"><span
                        class="am-icon-plus"></span> 新增
                </button>
            </div>

            <ul class="am-pagination am-fr">
                {{ page_list }}
            </ul>


            <hr/>

        </form>
    </div>
    <script type="text/javascript">
        function edit(id, module_name, belong_project, test_user, simple_desc, other_desc) {
            $('#index').val(id);
            $('#module_name').val(module_name);
            $('#belong_project').val(belong_project);
            $('#test_user').val(test_user);
            $('#simple_desc').val(simple_desc);
            $('#other_desc').val(other_desc);
            $('#my-edit').modal({
                relatedTarget: this,
                onConfirm: function () {
                    update_data_ajax('#list_module', '/api/module_list/1/')
                },
                onCancel: function () {
                }
            });
        }

    </script>

{% endblock %}