{% extends "base.html" %}
{% block title %}新增模块{% endblock %}
{% load static %}
{% block content %}

    <div class=" admin-content">

        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on"> IM压测</ul>
                <dl class="am-icon-home" style="float: right;"> 当前位置： 模块管理 > <a href="#">IM压测</a></dl>
            </div>
            <div class="fbneirong">
                <form class="form-horizontal" id="im_performance">
                    <div class="form-group">
                        <label class="control-label col-md-1 text-primary" for="env">环境：</label>
                        <div class="col-md-5">
                            <select name="env" class="form-control">
                                <option value="test">test</option>
                                <option value="pre">pre</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-1 text-primary" for="mode">模式：</label>
                        <div class="col-md-5">
                            <select name="mode" class="form-control">
                                <option value="random">随机发送</option>
                                <option value="assign">指定发送</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group  has-feedback">
                        <label class="control-label col-md-1 text-primary" for="sender">发起人：</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="sender"
                                   aria-describedby="inputSuccess3Status" name="sender" placeholder="请输入发起人手机号"
                                   value="">
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <label class="control-label col-md-1 text-primary" for="receiver">接收人：</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="receiver"
                                   aria-describedby="inputSuccess3Status" name="receiver"
                                   placeholder="请输入接受人手机号，多个按逗号隔开"
                                   value="">
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <label class="control-label col-md-1 text-primary" for="group">接收群：</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="group"
                                   aria-describedby="inputSuccess3Status" name="group"
                                   placeholder="请输入要发送的群组，多个按逗号隔开"
                                   value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-1 text-primary" for="message_type">消息类型：</label>
                        <div class="col-md-5">
                            <input type="checkbox" name="message_type" value="1"/>文本<br/>
                            <input type="checkbox" name="message_type" value="2"/>机器人<br/>
                            <input type="checkbox" name="message_type" value="3"/>BI<br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1 text-primary" for="server_num">开启本地服务：</label>
                        <div class="col-md-5">
                            <input type="checkbox" name="server_num" value="30001"/>30001<br/>
                            <input type="checkbox" name="server_num" value="30002"/>30002<br/>
                            <input type="checkbox" name="server_num" value="30003"/>30003<br/>
                            <input type="checkbox" name="server_num" value="30004"/>30004<br/>
                            <input type="checkbox" name="server_num" value="30005"/>30005<br/>
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="you" style="margin-left: 8%;">
                            <button type="button" class="am-btn am-btn-success am-radius"
                                    onclick="im('#im_performance', '/im_performance/')">点 击 提 交
                            </button>&nbsp;
                        </div>
                    </div>
                </form>
                <div class="am-form-group am-cf">
                    <div class="you" style="margin-left: 8%;">
                        <button type="button" class="am-btn am-btn-success am-radius"
                                onclick="cmdRecording()">结束
                        </button>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}