{% extends "base.html" %}
{% block title %}新增项目{% endblock %}
{% load static %}
{% block content %}

    <div class=" admin-content">

        <div class="admin-biaogelist" style="top: 0px" onload="chart2()">
            <div id="container" style="height: 100%">
            </div>
        </div>
    </div>


    <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {


            const csrftoken = getCookie('csrftoken');
            var data = {};
            $.ajax({
                type: 'post',
                headers: {'X-CSRFToken': csrftoken},
                url: '/index/',
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (data) {
                    var state = JSON.parse(JSON.stringify(data))['code']
                    if (state !== 10000) {
                        myAlert(data['msg']);
                    } else {
                        var dom = document.getElementById('container');
                        var myChart = echarts.init(dom, null, {
                            renderer: 'canvas',
                            useDirtyRect: false
                        });
                        var app = {};
                        var option;
                        var keys = JSON.parse(JSON.stringify(data))['key_list']
                        console.log(keys)
                        var values = JSON.parse(JSON.stringify(data))['value_list']
                        console.log(values)

                        option = {
                            xAxis: {
                                type: 'category',
                                data: keys
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [
                                {
                                    data: values,
                                    type: 'bar'
                                }
                            ]
                        };


                        if (option && typeof option === 'object') {
                            myChart.setOption(option);
                        }

                        window.addEventListener('resize', myChart.resize);
                    }
                },
                error: function () {
                    myAlert('Sorry，服务器可能开小差啦, 请重试!');
                }
            });


        };
    </script>

{% endblock %}