{% extends "base.html" %}
{% block title %}模块信息{% endblock %}
{% load static %}
{% block content %}



    <div class="admin-biaogelist" style="top: 0px">
        <div class="listbiaoti am-cf">
            <ul class="am-icon-flag on"> 版本列表</ul>
            <dl class="am-icon-home" style="float: right;"> 当前位置： 版本管理 > <a href="#">版本展示</a></dl>
            <dl>
                <button type="button" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus"
                        onclick="location='/add_version/'">新增版本
                </button>

            </dl>
        </div>

        <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">
            <form id="pro_filter" method="post" action="/version_list/">
                <ul>
                    <li style="padding-top: 5px">
                        <select name="project" class="am-input-zm am-input-xm"
                                onchange="auto_load('#pro_filter', '/add_version/', '#module', 'module')">
                            <option value="{{ info.belong_project }}"
                                    selected>{{ info.belong_project }}</option>
                            {% for version in version_info %}
                                    <option value="{{ version.version }}">{{ version.version }}</option>


                            {% endfor %}

                            {% if info.belong_project != 'All' %}
                                <option value="All">All</option>
                            {% endif %}
                        </select>
                    </li>
                        <button style="padding-top: 5px; margin-top: 9px"
                                class="am-btn am-radius am-btn-xs am-btn-success">搜索
                        </button>
                    </li>
                </ul>
            </form>
        </div>


        <form class="am-form am-g" id='module_list' name="module_list" method="post" action="/api/run_batch_test/">
            <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
                <thead>
                <tr class="am-success">
                    <th class="table-check"><input type="checkbox" id="select_all"/></th>
                    <th class="table-title">序号</th>
                    <th class="table-type">版本号</th>
                    <th class="table-type">项目名称</th>
                    <th class="table-type">描述</th>
                    <th class="table-date am-hide-sm-only">创建日期</th>
                </tr>
                </thead>
                <tbody>

                {% for version in version_info %}
                    <tr>
                        <td><input type="checkbox" name="module_{{ version.id }}" value="{{ version.id }}"/></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ version.version }}</td>
                        <td>{{ version.project_name__project_name }}</td>
                        <td>{{ version.simple_desc }}</td>
                        <td class="am-hide-sm-only">{{ version.create_time|date:"Y-m-d H:i:s" }}</td>

                    </tr>
                {% endfor %}


                </tbody>
            </table>

            <ul class="am-pagination am-fr">
                {{ page_list }}
            </ul>


            <hr/>

        </form>
    </div>


{% endblock %}