# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\www\MoocPlant\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.pyc
/xadmin/
/venv/
/MoocPlant/settings.py
